extends layout
block content
  main.main-content
    form#add-book-form( action='/addBook', method = "post",enctype="multipart/form-data")
      input#name-add-book-form(name='book_name', type='text', placeholder='שם הספר', required='', minlength='3', maxlength='25')
      br
      input#autohr-add-book-form(name='author', type='text', placeholder='שם הסופר', required='', minlength='3', maxlength='25')
      br
      textarea(name="discription", cols="30", rows="10", placeholder ='תיאור', maxlength='500') 
      br
      p  &#x5D0;&#x5E0;&#x5D0; &#x5E6;&#x5DC;&#x5DD; &#x5EA;&#x5DE;&#x5D5;&#x5E0;&#x5D4; &#x5D1;&#x5E8;&#x5D5;&#x5E8;&#x5D4; &#x5E9;&#x5DC; &#x5DB;&#x5E8;&#x5D9;&#x5DB;&#x5EA; &#x5D4;&#x5E1;&#x5E4;&#x5E8;
      input(type='file', name='cover', accept='image/*,.pdf')
      br
      br
          
      button.highlight-button(type='submit') &#x5E4;&#x5E8;&#x5E1;&#x5DD; &#x5E1;&#x5E4;&#x5E8;
      