
extends layout
block content
  main.main-content
    .book-content
      .card-image(style ="height:30vh; width:10vw" )
        img.card-img(src = bookDetails.cover_url)               
        if(bookDetails.status)
          span.isAvailable זמין
        else 
          span.isAvailable מושאל
      h1.book-name  #{bookDetails.book_name}
      h2.author-name  #{bookDetails.author} 
      h3.location #{bookDetails.city}
      .owner-details(style='display:flex; justify-content:center; align-items:center;')
        img.owner-Profile-pic(style='max-height:5vh; border-radius:1000px')
        a.owner-profile(style='display:inline;', href='profilePage.html')  
        p.book-discription(style='width:80%; padding-left:10%;') #{bookDetails.discription}
        
     
      form(action = "/bookPage" , method = "post")
        input(type = "hidden", name="book_name" ,value = bookDetails.book_name)
        input(type = "hidden", name="owner_email" ,value = bookDetails.owner_email)
        button.highlight-button( type="submit") הזמן
      
