extends layout
block content 
  // Page content
  main.main-content

    h1  !  #{session.username}  ברוך הבא
    
    form.search.bar(action="/searchResult" method = "get" enctype="multipart/form-data")
      input#search(name='query' type='search' placeholder='חיפוש')
      input(type='submit'  value='חפש')
    .slide-container
      h3 &#x5E1;&#x5E4;&#x5E8;&#x5D9;&#x5DD; &#x5D7;&#x5D3;&#x5E9;&#x5D9;&#x5DD;
      input(type="hidden", id = "1", value = results)
      ul.slide-content
        .left-slide-button(onclick = "leftClick();")
        
        each result, index in results
          
          .card(style='display:none', id ='card'+index)
            .image-content
              .card-image
                img.card-img(src = result.cover_url)
                
                if(result.status)
                  span.isAvailable זמין
                else 
                  span.isAvailable מושאל
            .card-content
              h5.book-title #{result.book_name}
              p.card-location  #{result.city}
              .btn
                form(action = "/bookPage" , method = "post")
                  input(type = "hidden", name="book_name" ,value = result.book_name)
                  input(type = "hidden", name="owner_email" ,value = result.owner_email)
                  button.highlight-button( type="submit") הזמן
                form(action = "/bookPage" , method = "get")
                  input(type = "hidden", name="book_name" ,value = result.book_name)
                  input(type = "hidden", name="owner_email" ,value = result.owner_email)
                  button(type = "submit" ) פרטים נוספים
        
        

          
        button.right-slide-button(onclick='rightClick();')
 

