extends layout
block content
  main.main-content
    h1  !&#x5D1;&#x5E8;&#x5D5;&#x5DB;&#x5D9;&#x5DD; &#x5D4;&#x5D1;&#x5D0;&#x5D9;&#x5DD; &#x5DC;&#x5E1;&#x5E4;&#x5E8;&#x5D9;&#x5D4; &#x5D4;&#x5E7;&#x5D4;&#x5D9;&#x5DC;&#x5EA;&#x5D9;&#x5EA;
    form#login(action='/logIn' method = 'post')
      input#username-login( type='text', name = "email" ,placeholder='שם משתמש', required='', minlength='3', maxlength='50', value = userEmail)
      br
      br
      input#pasword-login( type='password', name = "password", placeholder='סיסמא', required='', minlength='5', maxlength='30')
      h3(style = "color:red") #{message}
      br
      button#enterLogin.highlight-button(type='submit')  &#x5DB;&#x5E0;&#x5D9;&#x5E1;&#x5D4;
      br
      br
    p &#x5E2;&#x5D5;&#x5D3; &#x5DC;&#x5D0; &#x5E8;&#x5E9;&#x5D5;&#x5DD;?
    input#entersignUp.highlight-button(type='button', onclick="location.href = 'signUp.html';", value='להרשמה')
