doctype html
html(lang='he', xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='utf-8')
    title the comunity library- sign up
    link(rel='stylesheet', href='/StyleSheet1.css')
    script(src='/Script1.js')
  body
    .container
      header.header
        div
          h1.main-header  &#x5D4;&#x5E1;&#x5E4;&#x5E8;&#x5D9;&#x5D4; &#x5D4;&#x5E7;&#x5D4;&#x5D9;&#x5DC;&#x5EA;&#x5D9;&#x5EA;
          h2  &#x5E1;&#x5E4;&#x5E8;&#x5D9;&#x5DD;. &#x5D0;&#x5E0;&#x5E9;&#x5D9;&#x5DD;. &#x5E7;&#x5D4;&#x5D9;&#x5DC;&#x5D4;
        img.logo(src='/images/logo1.png')
      nav.sidenav
        ul
          li
            a(href='homepage.html') &#x5DE;&#x5E1;&#x5DA; &#x5D4;&#x5D1;&#x5D9;&#x5EA;
          li
            a(href='profilePage.html') &#x5D4;&#x5D7;&#x5E9;&#x5D1;&#x5D5;&#x5DF; &#x5E9;&#x5DC;&#x5D9;
          li
            a(href='addBook.html') &#x5D4;&#x5D5;&#x5E1;&#x5E4;&#x5EA; &#x5E1;&#x5E4;&#x5E8; &#x5DC;&#x5DE;&#x5D0;&#x5D2;&#x5E8;
          li
            a(href='LogIn.html') &#x5D4;&#x5EA;&#x5E0;&#x5EA;&#x5E7;&#x5D5;&#x5EA;
      // Page content
      .main-content
        .profile-container
          civ.right
            img(calss='profile-pic', src='/images/profile male.jpg')
            p &#x5E9;&#x5DD;: &#x5DE;&#x5E0;&#x5D7;&#x5DD; &#x5D0;&#x5D1;&#x5D9;&#x5D8;&#x5DC;
            p  &#x5E2;&#x5D9;&#x5E8; &#x5DE;&#x5D2;&#x5D5;&#x5E8;&#x5D9;&#x5DD;: &#x5D1;&#x5D0;&#x5E8; &#x5E9;&#x5D1;&#x5E2;
            .credit(style='')
              img(src='/images/gold-coin.jpg', style='max-height:4vh; border-radius:100px;')
              p  credit: 25  
          .left
            .user-history
              h2 :&#x5D4;&#x5E4;&#x5E2;&#x5D5;&#x5DC;&#x5D5;&#x5EA; &#x5E9;&#x5DC;&#x5D9;
              table.profile-history-table
                tbody
                  tr
                    th &#x5E9;&#x5DD; &#x5D4;&#x5E1;&#x5E4;&#x5E8;
                    th &#x5D4;&#x5E4;&#x5E2;&#x5D5;&#x5DC;&#x5D4; &#x5E9;&#x5DC;&#x5D9;
                    th &#x5EA;&#x5D0;&#x5E8;&#x5D9;&#x5DA; &#x5D4;&#x5E9;&#x5D0;&#x5DC;&#x5D4;
                    th &#x5EA;&#x5D0;&#x5E8;&#x5D9;&#x5DA; &#x5D4;&#x5D7;&#x5D6;&#x5E8;&#x5D4;
                  tr
                    td &#x5D4;&#x5D0;&#x5D7;&#x5D9;&#x5DD; &#x5E7;&#x5D0;&#x5E8;&#x5DE;&#x5D6;&#x5D5;&#x5D1;
                    td(style='background-color:red') &#x5E9;&#x5D0;&#x5DC;&#x5EA;&#x5D9;
                    td 8.8.2022
                    td 8.9.2022
                  tr
                    td &#x5EA;&#x5E7;&#x5DC;&#x5D4; &#x5D1;&#x5E7;&#x5E6;&#x5D4; &#x5D4;&#x5D2;&#x5DC;&#x5E7;&#x5E1;&#x5D9;&#x5D4;
                    td(style='background-color:lawngreen') &#x5D4;&#x5E9;&#x5D0;&#x5DC;&#x5EA;&#x5D9;
                    td 11.7.2022
                    td ------
      footer
        p  &#x5DE;&#x5E9;&#x5D4;&#x5D5; &#x5DC;&#x5DB;&#x5EA;&#x5D5;&#x5D1; &#x5D1;&#x5E1;&#x5D5;&#x5E3; &#x5D4;&#x5D3;&#x5E3;