extends layout
block content
  main.main-content
    h2
      | !&#x5D1;&#x5E8;&#x5D5;&#x5DB;&#x5D9;&#x5DD; &#x5D4;&#x5D1;&#x5D0;&#x5D9;&#x5DD; &#x5DC;&#x5E1;&#x5E4;&#x5E8;&#x5D9;&#x5D9;&#x5D4; &#x5D4;&#x5E7;&#x5D4;&#x5D9;&#x5DC;&#x5EA;&#x5D9;&#x5EA;
    h3
      | ...&#x5E8;&#x5E7; &#x5DB;&#x5DE;&#x5D4; &#x5E4;&#x5E8;&#x5D8;&#x5D9;&#x5DD; &#x5DC;&#x5E4;&#x5E0;&#x5D9; &#x5E9;&#x5DE;&#x5EA;&#x5D7;&#x5D9;&#x5DC;&#x5D9;&#x5DD;
    form#myForm.form-inline(action="/users/add" method = "post" enctype="multipart/form-data")
      input(type='email', name="email" placeholder='אימייל', required='')
      br
      input(type='text', name="userName" ,placeholder=' שם משתמש', required='')
      |  
      br
      input(type='text',name="password1", placeholder='הכנס סיסמא', required='')
      br
      input(type='text',name="password2", placeholder=' הכנס סיסמא שוב', required='')
      br
      input(type='text',name="phoneNumber", placeholder=' מספר פלאפון', required='')
      br
      input#gender(list='genders', name='gender', placeholder='מגדר')
      datalist#genders
        option(value='גבר')
        option(value='אישה')
        option(value='אחר')
      br
      input#city(list='citys', name='city', placeholder='אזור בארץ', required='')
      datalist#citys
        option(value='צפון')
        option(value='דרום')
        option(value='מרכז')
      |  
      br
      input#language(list='languages', name='language', placeholder='שפה עיקרית')
      datalist#languages
        option(value='עברית')
        option(value='אנגלית')
        option(value='רוסית')
        option(value='צרפתית')
      br
      p
        input#profile-pic-sign-up(type='file', name ="picture" accept='image/*,.pdf')
        |  :&#x5D0;&#x5DD; &#x5D1;&#x5E8;&#x5E6;&#x5D5;&#x5E0;&#x5DA; &#x5DC;&#x5D4;&#x5E1;&#x5D9;&#x5E3; &#x5EA;&#x5DE;&#x5D5;&#x5E0;&#x5EA; &#x5E4;&#x5E8;&#x5D5;&#x5E4;&#x5D9;&#x5DC;
      br
      button.highlight-button(type='submit')  &#x5D4;&#x5E8;&#x5E9;&#x5DE;&#x5D4;
      