<!DOCTYPE html>

<html lang="he" style="padding:0;margin:0;" >
<head>

    <meta charset="utf-8" />
    <title>the comunity library</title>
    <link rel="stylesheet" href="../static/StyleSheet1.css" />

    <script src="../static/ScripthomePage.js" charset="utf-8" defer></script>




</head>

<body onload="rightOrder()">

    <div class="container">
        <header class="header">
            <div>
                <h1 class="main-header"> הספריה הקהילתית</h1>
                <h2> ספרים. אנשים. קהילה</h2>
            </div>
            <img class="logo" src="../static/images/logo1.png" />

        </header>
        <nav class="sidenav">
            <ul>
                <li><a href="homepage.html">מסך הבית</a></li>
                <li><a href="profilePage.html">החשבון שלי</a></li>
                <li><a href="addBook.html">הוספת ספר למאגר</a></li>
                <li><a href="LogIn.html">התנתקות</a></li>
            </ul>
        </nav>

        <!-- Page content -->
        <main class="main-content">

            <form class="search bar">
                <input id="search" name="search" type="search" placeholder="חיפוש" />
                <input type="button" onclick="location.href='serchResult.html';" value="חפש" />
            </form>

            <div class="slide-container">
                <h3>ספרים חדשים</h3>
                <div class="slide-content">

                    <div class="left-slide-button" onclick="leftOrder();"></div>
                    <!-- card 1 -->
                    <div class="card" id="card1">
                        <div class="image-content">
                            <div class="card-image">
                                <img id="card1img" src="../static/images/book covers/of mice and people.jpeg" class="card-img" />
                                <span class="status" id="card1-status"> </span>
                            </div>
                        </div>
                        <div class="card-content">
                            <h5 class="book-title" id="card1-title"></h5>
                            <p class="card-location" id="card1Location"> location</p>
                            <div class="btn">
                                <button class="highlight-button" id="orderBtn1">הזמן</button> <button id="popUp1btn" onclick="openBookPage();">פרטים נוספים</button>
                            </div>
                        </div>
                    </div>
                    <!-- card 2 -->
                    <div class="card" id="card2">
                        <div class="image-content">
                            <div class="card-image">
                                <img id="card2img" src="../static/images/book covers/of mice and people.jpeg" class="card-img" />
                                <span class="status" id="card2-status"> </span>
                            </div>
                        </div>
                        <div class="card-content">
                            <h5 class="book-title" id="card2-title"></h5>
                            <p class="card-location" id="card2Location"> location</p>
                            <div class="btn">
                                <button class="highlight-button" id="orderBtn2">הזמן</button> <button id="popUp2btn " onclick="openBookPage();">פרטים נוספים</button>
                            </div>
                        </div>
                    </div>
                    <!-- card 3 -->
                    <div class="card" id="card3">
                        <div class="image-content">
                            <div class="card-image">
                                <img id="card3img" src="../static/images/book covers/of mice and people.jpeg" class="card-img" />
                                <span class="status" id="card3-status"> </span>
                            </div>
                        </div>
                        <div class="card-content">
                            <h5 class="book-title" id="card3-title"></h5>
                            <p class="card-location" id="card3Location"> location</p>
                            <div class="btn">
                                <button class="highlight-button" id="orderBtn3">הזמן</button> <button id="popUp3btn" onclick="openBookPage();">פרטים נוספים</button>
                            </div>
                        </div>
                    </div>

                    <!-- card 4 -->

                    <div class="card" id="card4">
                        <div class="image-content">
                            <div class="card-image">
                                <img id="card4img" src="../static/images/book covers/of mice and people.jpeg" class="card-img" />
                                <span class="status" id="card4-status"> </span>
                            </div>
                        </div>
                        <div class="card-content">
                            <h5 class="book-title" id="card4-title"></h5>
                            <p class="card-location" id="card4Location"> location</p>
                            <div class="btn">
                                <button class="highlight-button myBtn" id="orderBtn4">הזמן</button> <button id="popUp4btn" onclick="openBookPage();">פרטים נוספים</button>
                            </div>
                        </div>
                    </div>
                    <!-- card 5-->
                    <div class="card" id="card5">
                        <div class="image-content">
                            <div class="card-image">
                                <img id="card5img" src="../static/images/book covers/of mice and people.jpeg" class="card-img" />
                                <span class="status" id="card5-status"> </span>
                            </div>
                        </div>
                        <div class="card-content">
                            <h5 class="book-title" id="card5-title"></h5>
                            <p class="card-location" id="card5Location"> location</p>
                            <div class="btn">
                                <button class="highlight-button myBtn" id="orderBtn5" onclick="openContactDetails();" >הזמן</button> <button id="popUp5btn" onclick="openBookPage();">פרטים נוספים</button>
                            </div>
                        </div>
                    </div>

                    <button class="right-slide-button" onclick="rightOrder();"></button>
                </div>
            </div>



        </main>

        <footer>
            <p> משהו לכתוב בסוף הדף</p>
        </footer>

    </div>


    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>השאל ספר </h2>
            </div>
            <div class="modal-body">
       
                <p> הספר נמצא אצל: מנחם</p>
                <a href="tel:+972502136053"> מספר טלפון: 0502136053</a>
                <a href="mailto: avimen@post.bgu.ac.il"> email: avimen@post.bgu.ac.il</a>
               

            </div>

        </div>
    </div>








</body>


<!--


     -->

</html>
