<!DOCTYPE html>

<html lang="he" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>the comunity library- sign up</title>
    <link rel="stylesheet" href="../static/StyleSheet1.css" />

    <script src="../static/Script1.js"></script>


</head>

<body>

    <div class="container">
        
        <header> class="header">
            <h1> הספריה הקהילתית</h1>
            <h2> ספרים. אנשים. קהילה</h2>
        </header>

        <nav class="sidenav">
            <ul>
                <li><a href="homepage.html">מסך הבית</a></li>
                <li><a href="profilePage.html">החשבון שלי</a></li>
                <li><a href="addBook.html">הוספת ספר למאגר</a></li>
                <li><a href="LogIn.html">התנתקות</a></li>
            </ul>


        </nav>

        <!-- Page content -->
        <div class="main-content">
            
            <div class= "profile-container">
                <civ class="right">
                    <img calss="profile-pic" src="../static/images/profile pic.jpg" />
                    <p> name</p>
                    <p> city</p>
                    <p> credit</p>
                </civ>
                <div class="left">
                    <div>
                        <table>
                            books i lent
                        </table>
                        <table>
                            books i borrowed
                        </table>
                    </div>
                </div>

            </div>
                
           
                
            




        </div>

        <footer>
            <p> משהו לכתוב בסוף הדף</p>
        </footer>

    </div>
</body>

</html>