<!DOCTYPE html>

<html lang="he" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>the comunity library- search result</title>
    <link rel="stylesheet" href="../static/StyleSheet1.css" />




</head>

<body >

    <div class="container">
        <header class="header">
            <h1> הספריה הקהילתית</h1>
            <h2> ספרים. אנשים. קהילה</h2>
        </header>
        <nav class="sidenav">
            <ul>
                <li><a href="homepage.html">מסך הבית</a></li>
                <li><a href="profilePage.html">החשבון שלי</a></li>
                <li><a href="addBook.html">הוספת ספר למאגר</a></li>
                <li><a href="LogIn.html">התנתקות</a></li>
            </ul>
        </nav>

        <!-- Page content -->
        <main class="main-content">
            <form class="search bar">
                <input id="search" name="search" type="search" placeholder="חיפוש" />
                <input type="button" onclick="location.href='serchResult.html';" value="חפש" />
            </form>

            <h2>הנה התוצאות שמצאנו עבורך</h2>
            <div class="resultBlock">

                <img class="result-img" src="../static/images/book covers/east of eden.jpeg" />

                <div class="result-discription">
                    <h4>שם הספר: קדמת עדן</h4>
                    <p>מאת: ג'ון סטיינבק</p>
                    <p>מיקום: באר שבע</p>
                    <p>תיאור הספר: סיפורם של שני אחים ושני דורות בעמק סאליאנס שבקליפורניה,והוא משל לעלילת קין והבל ולשאלת הטוב והרע בעולם </p>
                    
                </div>
                <div class="result-btn">
                    <div class="btn">
                        <br /><button class="highlight-button">
                            הזמן
                        </button> <br /><br />
                        <button>
                            צפה בפרטים
                        </button>

                    </div>
                </div>
            </div>

            <div class="resultBlock">

                <img class="result-img" src="../static/images/book covers/a horse walks into a bar.jpeg" />

                <div class="result-discription">
                    <h4>שם הספר: סוס אחד נכנס לבר</h4>
                    <p>מאת: דויד גרוסמן</p>
                    <p>מיקום: באר שבע</p>
                    <p>תיאור הספר: הופעת סטנדאפ במרתף בנתניה הולכת ומשתבשת, מתפוררת לעיני הקהל.
                    בין אם הערב נשמט מידי הסטנדאפיסט, ובין אם תוכנן מראש להיות כזה- הקהל שבא לבלות ולצחוק נדהם לקבל הופעה מסוג אחר לגמרי.</p>
                </div>
                <div class="result-btn">
                    <button class="highlight-button">
                        הזמן
                    </button> <br /><br />
                    <button>
                        צפה בפרטים
                    </button>
                </div>
            </div>

        </main>
        <footer>
            <p>משהו לכתוב בסוף הדף</p>
        </footer>
    </div>




</body>






</html>
