


/* general layout*/

* {
    text-align: center;
    margin: 5px;
    padding: 5px;
   
 
}
html {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    background-image: url(../static/images/paper.jpg);
    display:flex;
    align-items:center;
    
  
}
.book-title{
    max-height:10px;
}

.header {
    grid-area: h;
    background-image: url(../static/images/wood.jpg);
    opacity: 0.8;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.main-header {
    display: inline;
}
h1 h2 {
    margin: 0;
    padding: 0;
    
}
.logo {
    max-height: 10vh;
    display: inline;
    position:relative;
    animation: mymove 4s;
    animation-timing-function: ease;
}

@keyframes mymove {
    from {
        left:30vw;
    }
    to{
        left:0;
    }

  
}

.main-content {
    grid-area: mc;
    min-height: 100vh;
    
    position: relative;

}


.container {
    display:grid;
    margin: 0;
    padding: 0;
    width:100%;
    grid-template-columns: 90% 10% ;
    grid-template-rows: 15vh minmax(75vh,auto) 10vh;
    grid-gap:0;
    grid-template-areas:
        'h side'
        'mc side '
        'f side';
}

footer {
    color:goldenrod;
    grid-area: f;
    background-image: url(../static/images/wood.jpg);
    width: 100%;
    color: beige;
    margin: 0;
    padding:0;
    
}


.sidenav {
    grid-area: side;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    background-color: #f1f1f1;
    position: fixed;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 10%;
    overflow: auto;
}

li a {
    display: inline;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    margin: 0;
    padding: 0;
}


    li a:hover {
        background-color: #555;
        background-color: rgb(51, 77, 40);
        color: white;
        margin: 0;
        padding: 0;
    }




    /*styles*/


.highlight-button {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px 5px;
    border-width: thin;
}


    .highlight-button:hover {
        background-color: rgb(60, 193, 48);
        color: white;
        box-shadow: rgba(0,0,0,0.2) 5px 5px;
    }



   /*result page*/

.resultBlock{
    background-color:silver ;
    width:60%;
    height:10%;    
    display:inline-flex;  
    justify-content:space-between;
    margin:20px;
    padding:10px;
    
    
    
}
.result-img {
    background-color:white;
   flex:1;
   max-height:100%;
   object-fit:cover;
   
}
.result-discription {
    flex:3;
    
}
.result-btn{
  flex:1;
  align-self:end;
    
}


/*home page card slider*/

.card-image {
    align-content: center;
    position: relative;
    height: 17vh;
    width: 7vw;
    margin: auto;
    padding:0;
}

    .card-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        margin: auto;
        padding:0;
    }

.card-img:hover {
    background-color: white;
    opacity: 0.4;
    display:block;
    
}
.card-img:hover + .status {
     display: inline;
        }

.btn{
    position:relative;
    bottom:0px;
}

.card {
    border-radius: 15px;
    background-color: azure;   
    align-items: center;
    display:block;   
    height:100%;
    width:100%;
   
}

.slide-content {
    background-color: silver;
    display: flex;   
    justify-content: space-between;
}



@media screen and (max-width: 600px) {
    .slide-content {
        flex-direction:column;
        width:100%;
    }
    .card {
        height: 100%;
        width: 80%;
        align-self:center;
    }
    .card-image {
        align-content: center;
        position: relative;
        height: 40vh;
        width:30vw;
        object-fit:contain;
        margin: auto;
        padding: 0;
    }

    .left-slide-button{
        display:none;
    }

}

.status {
    display:none;
    color: whitesmoke;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    bottom: 30px;
    left: 25px;
    text-decoration-line: overline underline;
    text-shadow:1px 1px 1px black;
    
    
}


.left-slide-button {
    width: 0;
    height: 0;
    border-top: 30px solid silver;
    border-right: 60px solid white;
    border-bottom: 30px solid silver;
    border-left: hidden;
    margin: 0;
    padding: 0;
    
    align-self: center;
}

.right-slide-button {
    width: 0;
    height: 0;
    border-top: 30px solid silver;
    border-left: 60px solid white;
    border-bottom: 30px solid silver;
    border-right:hidden;
    margin: 0;
    padding: 0;   
    align-self:center;
    
    
}
.right-slide-button:hover {
    border-left-color:green;
}
    
.left-slide-button:hover {
        border-right-color: green;
    }



/*profile page*/
.profile-pic{
    height:20vh;
    width:10vw;
  

    
}
.profile-container{
    display: grid;
    grid-template-areas: 'l r' ;
    margin:0;
    padding:0;
   
    
}

.left{
    grid-area:l;
    width:100%;
    margin:0;

}
.right{
    grid-area:r;
    width:100%;
    margin:0;
}

/*profile page*/

.profile-container {
    display: flex;
    flex-direction: column;
}

.user-history{
    display:flex;
    flex-direction:column;
}
.profile-history-table {
   background-color:white;
   
}
tr{
    border-bottom:5px solid blue;
}
    tr:hover {
        background-color: #D6EEEE;
    }

.credit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* The Modal (background) */
.modal {
    display:none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }



/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}


