<!DOCTYPE html>

<html lang="he" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>the comunity library- log in</title>
    <link rel="stylesheet" href="../static/StyleSheet1.css" />
    <script src="../static/Script1.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>

    <div class="container">
        <header class="header">
            <div>
                <h1 class="main-header"> הספריה הקהילתית</h1>
                <h2> ספרים. אנשים. קהילה</h2>
            </div>
            <img class="logo" src="../static/images/logo1.png" />

        </header>
        <nav class="sidenav">
            <ul>
                <li><a href="homepage.html">מסך הבית</a></li>
                <li><a href="profilePage.html">החשבון שלי</a></li>
                <li><a href="addBook.html">הוספת ספר למאגר</a></li>
                <li><a href="LogIn.html">התנתקות</a></li>
            </ul>


        </nav>

        <!-- Page content -->
        <main class="main-content">

            <h1> !ברוכים הבאים לספריה הקהילתית</h1>
            <form id="login" action="homePage.html">
                <input  id="username-login" name="username-login" type="text" placeholder="שם משתמש" required minlength="3" maxlength="15"/>
                <br /><br />

                <input  id="pasword-login" name="pasword-login" type="password" placeholder="סיסמא" required minlength="5" maxlength="15"/>
                <br /><br />

                <button class="highlight-button" id="enterLogin" type="submit"  > כניסה</button>


            </form>

            <br />
            <br />
            <p>עוד לא רשום?</p>
            <input class="highlight-button" id="entersignUp" type="button" onclick="location.href = 'signUp.html';" value="להרשמה" />


        </main>
        <footer>
            <p>משהו לכתוב בסוף הדף</p>
        </footer>
    </div>




</body>






</html>
